.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Lgry);
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* This will make sure the header stretches to the full width of the screen */
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 3px solid var(--Blue);
  z-index: 10000;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: auto;
  border-radius: 15px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-image: url('../../public/logo11.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 25px;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
  border-radius: 25px;
}

.logo:hover img {
  opacity: 0;
}

.logo:hover {
  transform: scale(1.05);
}

.title {
  font-family: var(--Head);
  color: var(--Blue);
  margin-left: 10px;
  animation: slideInFromLeft 1.5s;
}

.subtitle {
  font-family: var(--Acnt);
  color: var(--Dgry);
  margin-left: 60px;
  animation: slideInFromLeft 1.5s;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s
}

.nav-link {
  font-family: var(--Body);
  color: var(--Dgry);
  margin-bottom: 15px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 175px;
  text-align: right;
  font-size: 1.1rem;
}

.nav-link:hover {
  transform: translateY(-5px);
  color: var(--Orng);
}

.nav-link.active {
  color: var(--Orng);
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Add responsiveness for mobile */
@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .nav-link {
    font-size: .8rem;
  }

  .header-container {
    position: initial;
  }

  .title {
    font-size: 1.3rem;
  }

  .subtitle {
    font-size: .8rem;
    margin-left: 1rem;
  }
}
