.redirect-container {
  text-align: center;
  padding: 2rem;
}

.redirect-title {
  color: var(--Dgry);
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.redirect-button {
  background-color: var(--Blue);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.redirect-button:hover {
  background-color: var(--Orng);
}
