.tiers-container {
  font-family: var(--Body);
  color: var(--Dgry);
  padding: 2rem;
  animation: descriptionFadeIn 1.5s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiers-title {
  font-family: var(--Head);
  color: var(--Blue);
  margin-bottom: 1rem;
  width: 80%;
}

.tiers-table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--Blue);
}

.tiers-table th,
.tiers-table td {
  border-bottom: 2px solid var(--Blue);
  padding: 1rem;
  text-align: center;
}

.tiers-table th {
  background-color: var(--Blue);
  color: var(--Lgry);
}

.tiers-table tr:nth-child(odd) td {
  background-color: var(--Lgry);
}

.tiers-table tr:last-child td {
  border-bottom: none;
}

.tiers-note {
  margin-top: 1rem;
  font-style: italic;
  color: var(--Orng);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .tiers-container {
    font-size: 0.9rem;
    padding: 1rem;
  }

  .tiers-note,
  .tiers-title {
    text-align: center;
  }

  .tiers-table {
  }

  .tiers-table td {
    font-size: 0.7rem;
  }
}

/* Tablet responsiveness */
@media (max-width: 1024px) and (min-width: 769px) {
  .tiers-container {
    font-size: 1rem;
    padding: 1.5rem;
  }
}
