html {
  font-size: 100%;
}

body {
  margin: 0;
  background: #e4e4e4;
}

:root {
  --Blue: #1a5276;
  --Orng: #F39C12;
  --Lgry: #ECF0F1;
  --Dgry: #7B8A8B;
  --Head: Montserrat,sans-serif;
  --Body: 'Open Sans',sans-serif;
  --Acnt: Raleway,sans-serif;
}