html {
  font-size: 100%;
}

body {
  margin: 0;
  background: #e4e4e4;
}

:root {
  --Blue: #1a5276;
  --Orng: #f39c12;
  --Lgry: #ecf0f1;
  --Dgry: #7b8a8b;
  --Head: Montserrat, sans-serif;
  --Body: 'Open Sans', sans-serif;
  --Acnt: Raleway, sans-serif;
}
